.top-bar-container {
  position: fixed;
  width: 100%;
  display: block;
  top: 0;
  left: 0;
  z-index: 5050;
  background-color: #6f6e6e;
}

.next-container {
  background-color: #6f6e6e;
}

.navbar {
    background-color: #6f6e6e;
    z-index: 1000;
    box-sizing: border-box;
  }
  
.navbar a {
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 15px 18px;
    text-decoration: none;
  }
  
.navbar a:hover {
    background: #ddd;
    color: black;
  }
  
.main {
    margin-top: 30px;
  }

.navbar a.active {
    background-color: #4CAF50;
    color: white;
  }

.navbar .icon {
    display: none;
  }

.navbar-conainer{
    position: relative;
    width: 50%;
}

.search-container {
    display: inline-block;
    position: relative;
    width: 47%;
}

.searchbox {
    position: relative;
}

#bigSearchForm .searchbox {
    display: inline-block;
    width: 80%;
    position: relative;
}

.searchbox input[type=text] {
    position: relative;
    width: 80%;
    display:inline-block;
}

.header-search__toggle.header-search__toggle--active {
    opacity: 0;
}

#menu ul {
  margin: 0;
  padding: 0;
}

#menu .main-menu {
  display: none;
}

#tm:checked + .main-menu {
  display: block;
}

#menu input[type="checkbox"], 
#menu ul span.drop-icon {
  display: none;
}

#menu li, 
#toggle-menu, 
#menu .sub-menu {
  border-style: solid;
  border-color: rgba(0, 0, 0, .05);
}

#menu li, 
#toggle-menu {
  border-width: 0 0 1px;
}

#menu .sub-menu {
  background-color: #444;
  border-width: 1px 1px 0;
  margin: 0 1em;
}

#menu .sub-menu li:last-child {
  border-width: 0;
}

#menu li, 
#toggle-menu, 
#menu a {
  position: relative;
  display: block;
  color: white;
  text-shadow: 1px 1px 0 rgba(0, 0, 0, .125);
}

#menu, 
#toggle-menu {
  background-color: #6f6e6e;
}

#toggle-menu, 
#menu a {
  padding: 1em 1.5em;
}

#menu a {
  transition: all .125s ease-in-out;
  -webkit-transition: all .125s ease-in-out;
}

#menu a:hover {
  background-color: white;
  color: #09c;
}

#menu .sub-menu {
  display: none;
}

#menu input[type="checkbox"]:checked + .sub-menu {
  display: block;
}

#menu .sub-menu a:hover {
  color: #444;
}

#toggle-menu .drop-icon, 
#menu li label.drop-icon {
  position: absolute;
  right: 1.5em;
  font-size: 25px;
}

#menu label.drop-icon, #toggle-menu span.drop-icon {
  border-radius: 50%;
  width: 1em;
  height: 1em;
  text-align: center;
  background-color: rgba(0, 0, 0, .125);
  text-shadow: 0 0 0 transparent;
  color: rgba(255, 255, 255, .75);
}

#menu .drop-icon {
  line-height: 1;
}

@media only screen and (max-width: 64em) and (min-width: 52.01em) {
  #menu .sub-menu li {
    width: auto;
  }
}

@media only screen and (min-width: 52em) {
  #menu .main-menu {
    display: block;
    text-align: center;
  }

  #toggle-menu, 
  #menu label.drop-icon {
    display: none;
  }

  #menu ul span.drop-icon {
    display: inline-block;
  }

  #menu li {
    border-width: 0 1px 0 0;
    font-size: 0.9rem;
  }

  #menu .sub-menu li {
    float: none;
  }

  #menu .sub-menu, 
  #menu input[type="checkbox"]:checked + .sub-menu {
    display: none;
  }

  #menu .sub-menu li {
    border-width: 0 0 1px;
  }

  #menu .sub-menu .sub-menu {
    top: 0;
    left: 100%;
  }

  #menu li:hover > input[type="checkbox"] + .sub-menu {
    display: block;
  }
  
  #menu li {
  display: inline-block;
}
}

.cf::after, .lab-grid::after {
    content: "";
    display: table;
    clear: both;
}

/*.left_panel__overlay {
    visibility: hidden;
	opacity: 0;
	background-color: rgba(0, 0, 0, 0.4);
	cursor: pointer;
	position: fixed;
	top: 0;
	left: 0;
	right: 0;
	bottom: 0;
	width: 100%;
	height: 100vh;
	overflow: hidden;
	transition: visibility .5s linear,opacity .4s ease-in-out;
	z-index: 2000;
	-webkit-backface-visibility: hidden;
	backface-visibility: hidden;
}
.left_panel__overlay.show {
	visibility: visible;
	opacity: 1;
}*/

.submenu {
    display: none;
    position: absolute;
    top: 46px;
    background-color: #6f6e6e;
}

.submenu ul {
    margin-left: 0;
    text-align: center;
}

.submenu ul li {
    float: none !important;
}

.submenu ul li a {
    color: #fff;
}

ul.nav-items li:hover > .submenu {
    display: block;
    width: 100%;
    left: 0;
}
.navbar {
    padding: 0;
}

ul.nav-items li .drop-icon {
    display: inline-block;
}

@media (max-width: 600px) {
    .submenu {
        position: relative;
    }
}

#menu ul.main-menu li ul.sub-menu li {
        display: inline-block;
    }

.header-search {
	position: absolute;
	display: block;
	background-color: #fff;
	-moz-box-shadow: 0 3px 5px 3px rgba(0,0,0,0.05);
	-webkit-box-shadow: 0 3px 5px 3px rgba(0,0,0,0.05);
	box-shadow: 0 5px 5px 5px rgba(0,0,0,0.1);
	width: max-content;
	left: -145px;
	top: 50px;
	border-radius: 3px;
	border: solid 1px #d9dde1;
    z-index: -10;
}

.header-search__form-close-button, .search_form_submit {
    color: #3b4045;
}

button.js-btn-searchtop {
    display: block;
    width: 100%;
    text-align: right;
    top: -10px;
}

@media (max-width: 831px) {
    .header-search {
        left: auto;
        right: 0;
        width: 100%;
    }
    ul.main-menu li a {
        font-size: 0.8rem;
    }
    
    button:not(.s-btn) {
        float: right;
    }
}

@media (min-width: 832px) {    
ul.main-menu li ul.sub-menu {
    position: absolute;
    width: 50vw;
    left: -25vw;
    text-align: center;
}
.header-search {
    left: -300px;
}
}

@media (max-width: 640px) {
    #menu li label.drop-icon {
        top: 10px;
    }
}

   /* When the screen is less than 600 pixels wide, hide all links, except for the first one ("Home"). Show the link that contains should open and close the topnav (.icon) */
@media screen and (max-width: 600px) {
    /*.navbar-container a:not(:first-child) {display: none;}*/
    .navbar-container li {display: none;}
    .navbar-container a.icon {
      float: right;
      display: block;
    }

    #myTopnav{
        position: relative;
        width: 100%;
    }

    .search-container {
        position: relative;
        width: 100%;
    }

    .searchbox input[type=text] {
        border-top-left-radius: 0;
        border-bottom-left-radius: 0;
        margin: 0;
    }

    .navbar-container.responsive {
      position: relative;
    }

    .navbar-container.responsive a.icon {
      position: absolute;
      right: 0;
      top: 0;
    }
    
    .navbar-container.responsive ul li {
      float: none;
      display: block;
      text-align: left;
    }
    
    .navbar-container.responsive ul li a {
        width: 100%;
        text-align: left;
    }
    
    .search-container {
        display: none;
    }
    
  }
  
    @media screen and (min-width: 600px) {
    .search-container-mobile {
        display: none;
    }
    .navbar-container ul li {
        display: inline-block;
        float: left;
    }
    
  }
